
h1{
    text-align: center;
}
.bg-changer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 88%;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.black{
    background-color: black;
    color: white;
}
.grey{
    background-color: grey;
}
.purple{
    background-color: purple;
}
.orange{
    background-color: orange;
    border: 2px solid black;
    cursor: pointer;
}
.green{
    background-color: green;
}